<!DOCTYPE html>
<html>
<head>
    <title>Add User - MovieWeb App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <style>
        body {
            background-image: url("{{ url_for('static', filename='Hollywood2.jpg') }}");
            background-size: cover;
            background-position: center;
    </style>
</head>
<body>
    <h1>Add User</h1>
    <form method="POST" action="/add_user">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>

        <button type="submit" class=button-green>Add User</button>
    </form>
    <a href="{{ url_for('home') }}" class="button">Back to Home </a>
</body>
</html>